.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.sidebar li:hover {
  background-color: #d3d3d3;
}

.sidebar li.active {
  background-color: #7ba6b4;
  color: #ffffff;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.feature-importance,
.data-transformation {
  margin-bottom: 40px;
}

.before-after {
  display: flex;
  justify-content: space-between;
}

.before-after div {
  width: 45%;
}
